# for testing, ignore these

# dev stuff
.tags
.R_tags
.*.swp
.*.swo

# local build check and whatnot
*.tar.gz
.local/
.staging/
*.Rcheck
.docker_img
*.crancheck

# unit testing
unit_test.log

# build static/dynamic
convoluted_build.sh

# automagically generated?
# ah, but these are needed for install_github:
#NAMESPACE
#DESCRIPTION
#man/

Rd2.pdf
.Rd2pdf*

# generated as part of the 'local' vignette build
sadists.tex
sadists.log
./sadists.pdf
*.aux
*.bbl
*.blg
cache/
nohup.out
