export(dchi)
export(ddnt)
export(dkprime)
export(dlambdap)
export(pchi)
export(pdnt)
export(pkprime)
export(plambdap)
export(qchi)
export(qdnt)
export(qkprime)
export(qlambdap)
export(rchi)
export(rdnt)
export(rkprime)
export(rlambdap)
import(hypergeo)
